/* Add these styles in your global CSS or App.css */
html, body, #root {
  height: 100%;
}

.flex-grow {
  flex-grow: 1;
}

.overflow-auto {
  overflow: auto;
}


/* Define the color palette */
:root {
  --primary-bg-start: #522377;
  --primary-bg-mid: #36195B;
  --primary-bg-end: #080B38;
  --secondary-bg: #133155;
  --accent-color: #254D70;
  --text-color: #E2E8F0;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
